body {
  background-color: lightblue;
}
.App {
  text-align: center;
  display:flex;
}
.toys{
  border: solid blue;
  height: 550px;
  /* width: fit-content; */
  margin: 1em;
}
.toys:hover{
  background-color: grey;
  cursor: pointer;
}